{
    "extends": ["airbnb/base", "plugin:react/recommended"],
    "env": {
        "browser": true,
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "indent": [1, 4],
        "id-length": 0,
        "max-len": [2, 200, 2, {
             "ignoreUrls": true,
             "ignoreComments": false
         }],
         "arrow-body-style": 0,
         "new-cap": 0,
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true,
        },
    },
}
